*{
  margin: 0;
  padding: 0;
  max-width: 100%;
}



html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100vh;
}

#root {
  display: flex;
  flex-direction: column;
}


.header{
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 0);
    width: 100%;
    height: 10%;

}

.header-menu, .header-controls{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  place-items: center;
}

.checkbox-NodeProperties, .checkbox-NodeLibrary {
  display: none;
}

.checkbox-NodeLibrary:checked ~ .dndflow .asideLeft{
  display: none;
  width: 0;
  
}

.minimizar{
  cursor:pointer;
  text-transform: uppercase;
  
  /*writing-mode: vertical-lr;
  position: absolute;
  top: 4%;
  transition: left 0.5s; */
}

.checkbox-NodeProperties:checked ~ .asideRight{
  display: none;
  width: 0;
}



.dndflow {
  display: flex;
  flex-direction: row;
  width: 100%;
  
  height: 100%;
  background-color: rgb(207, 214, 214);
}

.reactflow-wraper {

  width: 60%;
  height: 100%;
}


.asideLeft {
  
  width: 20%;

  overflow: auto;
  
  height: 100%;

}

.asideLeft details summary{
  cursor: pointer;
}

.asideLeft .nodesLibrary {
  cursor: grab;
  
}

.asideLeft .nodesLibrary li{
  list-style: none;

  padding: 1.5em 1rem;

}

.asideLeft .description {
  padding: 1rem 0.5rem;
}

.asideLeft .dndnode {
  padding: 0.5rem;
  
  border: 1px solid rgb(0, 0, 0);
  cursor:grab;
  text-align: center;
  margin-bottom: 1rem;
}


/*
.sidebarRightAgrupado{

  width:20%;

  display: flex;
  flex-direction: row;
}
*/

.asideRight {
  width:20%;
  text-align: center;
  height: 100%;

}

.asideRight .description {
  padding: 1rem 0.5rem;

}

.asideRight-right {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.NodeProperties{
  padding: 0.5rem;
  text-align: justify;

}

.NodeProperties h3{
  padding: 1rem 0;
}

.NodeProperties div{
  display:grid;
  grid-template-columns: repeat(2, 1fr);

}






